body{
    background-color: #000000;
}


#Layer_1 {
    margin: 0 auto;
}

.num {
    border: solid 1px black;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    font-size: 38px;
}

.overlay {
    /* background-size: cover; */
    /* background-position: 50% 50%; */
    height: 3840px;
    width: 2160;
    margin-left:auto;
    margin-right:auto;
    display: block;
    z-index: 0 ;
    
}

#imageContainer{
    background-image: url('./img/lock.png');
    z-index:5;  
    background-size: cover;
    background-position: 50% 50%;
    top:2500px;
    left:3390px;
    height: 500px;
    position: absolute;
    width: 800px;
}

#innerContainer {
    height: 500px;
    left: 250px;
    position: absolute;
    top:230px;
    width: 350px;
  }







  
